
header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    
  
}
header a{
    position: relative;
    top: 30%;
    transform: translateY(-30%); 
    text-decoration: none;
    color: gray;
    padding-left: 25px;
    
    
}
#primeiro{
    margin-left: 750px;
}
#div1{

    background-image: url("Imagens/img1.png");
    background-size: cover;
    
    width: 100%;
    height: 650px;
}
#p1dv1{
    padding-top: 320px;
text-align: center;
color: white;
font-size: 50px;
font: normal normal 600 50px/60px Canaro;

}
#p2dv1{
    margin-top: -45px;
    text-align: center;
    color: white;
    font: normal normal 300 30px/36px Canaro;
}
#div2{
   
height: 450px;
}
#sectiondv2{
    width: 300px;
    height: 400px;
    margin-left: 670px;
    
    margin-top: 60px;
}
#saiba{
    background-color: red;
    color: white;
    border-radius: 10%;
    margin-left: 50px;
}
#p1dv2{
    font-size: 25px;
    padding-left: 50px;
    color: gray;
}
#p2dv2{
    font-size: 40px;
    padding-left: 50px;
}
#p3dv2{
    padding-left: 50px;
    color: gray;
}
#imgdiv2{
    margin-top: -400px;
    background-image: url("Imagens/img2.png");
    width: 350px;
    height: 400px;
    margin-left: 300px;
}
#div3{
   
    height: 450px;
}
#sectiondv3{
    width: 300px;
    height: 400px;
    margin-left: 300px;
    
    margin-top: 60px;
    
}
#imgdiv3{
    width: 300px;
    height: 400px;
    margin-left: 670px;
    background-image: url("Imagens/img3.png");
    margin-top: -400px;
    
}
#p1dv3{
    font-size: 25px;
    padding-left: 50px;
    color: gray;
}
#p2dv3{
    font-size: 40px;
    padding-left: 50px;
}
#p3dv3{
    padding-left: 50px;
    color: gray;
}
#div4{
    
    height: 700px;
}
#section1div4{
background-image: url("Imagens/img4.png") ;
width: 456px;
margin-left: 60px;
height: 700px;
}
#section2div4{

width: 670px;
height: 700px;
margin-left: 650px;
margin-top: -550px;
}
#p1dv4{
    font-size: 20px;
    padding-left: 70px;
    color: gray;
    padding-top: 200px;
    padding-left: 130px;
}
#p2dv4{
    font-size: 30px;
    padding-left: 50px;
    padding-left: 130px;
}
#p3dv4{
    padding-left: 50px;
    color: gray;
    padding-left: 130px;
}
#div5{
    
    height: 450px;
}
#p1dv5{
    font-size: 50px;
    text-align: center;
font: normal normal 600 50px/60px Canaro;

color: rgb(78, 78, 78);
}
#p2dv5{
    font-size: 15px;
    text-align: center;
  
    margin-top: -30px;
    color: rgb(78, 78, 78);
}
#section1dv5{
   
    width: 300px;
    margin-left: 530px;
}
#section2dv5{
    margin-top: 30px;
    margin-left: 250px;
    background-color: rgb(243, 242, 242);
    height: 300px;
    width: 800px; 
}
#btn1dv5{
color: red;
background-color: rgb(243, 242, 242);
border: none;

}
#btn2dv5{
color: red;
border: none;
background-color: rgb(243, 242, 242);
}
#btn3dv5{
    
color: red;
border: none;
background-color: rgb(243, 242, 242);
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 370px;
    margin-left: 30px;
    padding-left: 10px;
}
#text1{
    margin-top: 30px;
    border-radius: 7px;
    border: none;
    background-color: rgb(207, 204, 204);
}
#text2{
    margin-top: 30px;
    background-color: rgb(207, 204, 204);
    border-radius: 7px;
    border: none;
}
#text3{
    margin-top: 30px;
   background-color: rgb(207, 204, 204) ;  
    border-radius: 7px;
    border: none;
}
#mensagem{
    border-radius: 7px;
    border: none;
    width: 350px;
    margin-left: 15px;
    padding-bottom: 140px;
    background-color: rgb(207, 204, 204);
    position: absolute;
    top: 2755px;
}
#btnenviar{
    top: 2980px;
    left: 960px;
    position: absolute;
    background-color: red;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    border-radius: 7px;
}
footer{
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.795);
    margin-top: 100px;
    text-align: center;
}
footer a{
   
   padding-bottom: 50px;
   margin-top: 100px;
   
    margin-left: 30px;
    color: lightgray;
    text-decoration: none;
   
}
footer p{
    font-size: 12px;
    margin-top: 50px;
    color: lightgray;
}
footer img{
    margin-left: 10px;
    
}
#img1{
    margin-left: 600px;
}
